<div class="mobile-drawer">
  <div class="mobile-drawer-wrapper">
    <div class="page-width mobile-drawer-header">
      <div class="mobile-drawer-logo">
        <a href="/" class="hs1-mbl-logo-section" aria-label="logo">
          {% liquid
            assign logo_desktop = section.settings.logo_desktop
            assign logo_mobile = section.settings.logo_mobile
            if logo_mobile == blank
              assign logo_mobile = logo_desktop
            endif
          %}
          {% unless logo_desktop == blank %}
            <picture>
              <source media="(min-width:650px)" srcset="{{ logo_desktop | image_url: width: logo_desktop.width }}">
              {{ logo_mobile | image_url: width: logo_mobile.width | image_tag: loading: 'lazy' }}
            </picture>
          {% else %}
            <h2 class="hs1-shop-name">{{ section.settings.shop_name }}</h2>
          {% endunless %}
        </a>
      </div>
      <div drawer-closer class="mobile-drawer-closer">
        {% render 'gelico-icons', name: 'close' %}
      </div>
    </div>
    <nav id="mobile-navigation" class="page-width menu-drawer__navigation menu-drawer__navigation-custom">
      <ul class="parent-m menu-drawer__menu has-submenu list-menu" role="list">
        {%- for link in section.settings.main_menu.links -%}
          <li
            {% if link.active %}
              class="active {% if link.child_active %}child-active{% endif %}"
            {% endif %}
          >
            <div class="has-sub-menu">
              <a href="{{ link.url }}">{{ link.title }}</a>
              {%- if link.links != blank -%}
                <span class="expand-icon-container"
                  ><span class="expand-icon-container-wrapper">
                    {% render 'gelico-icons', name:"plus-menu" %}
                    {%- render 'gelico-icons', name: 'minus-menu-black'-%}
                  </span></span
                >
              {%- endif %}
            </div>
            {% if link.links != blank %}
              <ul class="child-m">
                {% for child_link in link.links %}
                  <li
                    {% if child_link.active %}
                      class="active {% if child_link.child_active %}child-active{% endif %}"
                    {% endif %}
                  >
                    <div class="has-double-sub-menu">
                      <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                      {%- if child_link.links != blank -%}
                        <span class="expand-icon-container"
                          ><span class="expand-icon-container-wrapper">
                            {%- render 'gelico-icons', name: 'plus-menu' -%}
                            {%- render 'gelico-icons', name: 'minus-menu-black'-%}
                          </span></span
                        >
                      {%- endif %}
                    </div>
                    {% if child_link.links != blank %}
                      <ul class="grandchild-m">
                        {% for grandchild_link in child_link.links %}
                          <li
                            {% if grandchild_link.active %}
                              class="active {% if grandchild_link.child_active %}child-active{% endif %}"
                            {% endif %}
                          >
                            <a href="{{ grandchild_link.url }}">{{ grandchild_link.title }}</a>
                          </li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {%- endfor -%}
      </ul>
    </nav>
    <div class="mobile-drawer-icons page-width">
      <div class="drawer-icons-top">
        {% unless section.settings.reward_icon == blank %}
          <a href="#" aria-label="header reward icon">
            {{ section.settings.reward_icon }}
            <span>REWARDS</span>
          </a>
        {% else %}
          <a href="#" aria-label="header reward icon">
            {% render 'gelico-icons', name: 'reward' %}
            <span>REWARDS</span>
          </a>
        {% endunless %}
        {% unless section.settings.usre_icon == blank %}
          <a href="/account" aria-label="header account icon">
            {{ section.settings.usre_icon }}
            <span>ACCOUNT</span>
          </a>
        {% else %}
          <a href="/account" aria-label="header account icon">
            {% render 'gelico-icons', name: 'user' %}
            <span>ACCOUNT</span>
          </a>
        {% endunless %}
      </div>
      <div class="drawer-icons-bottom">
        {% for block in section.blocks %}
          {% if block.type == 'icons' %}
            <a href="{{ block.settings.link }}">
              {{ block.settings.image | image_url: width: 17 | image_tag }}
            </a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
