{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
  .contact-form{
    background: rgba(234, 9, 75, 0.05);
    padding: 30px;
  }
  .field__input, .customer .field input{
    /* border: 1px solid #DEB6A0; */
    background-color: #fff;
  }
  .contact__button button{
    border: none;
    color: #fff;
  }
  .rte{
    margin-top: 20px;
  }
  .title-wrapper .title{
    color: #5E5047;
  }
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
{%- assign custom_fields = section.blocks | where: 'type', 'custom_field' -%}
<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="contact page-width page-width--inner section-{{ section.id }}-padding">
    {%- if section.settings.heading != blank -%}
      <h2 class="title title-wrapper--no-top-margin inline-richtext {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        {{ section.settings.heading }}
      </h2>
    {%- else -%}
      <h2 class="visually-hidden">{{ 'templates.contact.form.title' | t }}</h2>
    {%- endif -%}
    {%- liquid
      assign contact_form_class = 'isolate'
      if settings.animations_reveal_on_scroll
        assign contact_form_class = 'isolate scroll-trigger animate--slide-in'
      endif
    -%}
    <form-state>
      {%- assign form_id = 'ContactForm-' | append: section.id -%}
      {%- form 'contact', id: form_id -%}
        {%- if form.posted_successfully? -%}
          <div class="form-status form-status-list form__message" tabindex="-1" autofocus>
            {% render 'icon', icon: 'success' %}
            {{ 'templates.contact.form.post_success' | t }}
          </div>
        {%- endif -%}

        <div class="contact__fields">
          <div class="field">
            <input
              id="{{ form_id }}-name"
              class="field__input"
              autocomplete="name"
              type="text"
              name="contact[{{ 'templates.contact.form.name' | t }}]"
              value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
              placeholder="Name"
            >
            <label class="visually-hidden" for="{{ form_id }}-name">{{ 'templates.contact.form.name' | t }}</label>
          </div>
          <div class="field field--with-error">
            <input
              id="{{ form_id }}-email"
              autocomplete="email"
              type="email"
              id="ContactForm-email-{{ section.id }}"
              class="field__input required{% if form.errors contains 'email' %} invalid{% endif %}"
              name="contact[email]"
              spellcheck="false"
              autocapitalize="off"
              value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
              aria-required="true"
              {% if form.errors contains 'email' %}
                aria-invalid="true"
                aria-describedby="ContactForm-email-error-{{ section.id }}"
              {% endif %}
              placeholder="Email"
              required="required"
            >
            <label class="visually-hidden" for="{{ form_id }}-email">
              {{- 'templates.contact.form.email' | t }}
              <span aria-hidden="true">*</span></label
            >
            {%- if form.errors contains 'email' -%}
              <small id="ContactForm-email-error-{{ section.id }}">
                <span class="form__message errors">
                  {% render 'icon', icon: 'error' %}
                  {{ form.errors.translated_fields.email | capitalize }}
                  {{ form.errors.messages.email }}
                </span>
              </small>
            {%- endif -%}
          </div>
        </div>

        {%- if section.settings.show_phone -%}
          <div class="field">
            <input
              id="{{ form_id }}-phone"
              type="tel"
              class="field__input"
              autocomplete="tel"
              name="contact[{{ 'templates.contact.form.phone' | t }}]"
              pattern="[0-9\-]*"
              value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
              placeholder="Phone number"
            >
            <label class="visually-hidden" for="{{ form_id }}-phone">{{ 'templates.contact.form.phone' | t }}</label>
          </div>
        {%- endif -%}
        {%- if custom_fields.size > 0 -%}
          {%- for block in custom_fields -%}
            <div class="field contact-form__input" {{ block.shopify_attributes }}>
              {%- if block.settings.type == 'checkbox' -%}
                <label for="line-item-{{ section.id }}-{{ block.id }}" class="form__facet-checkbox">
                  <input
                    type="hidden"
                    name="contact[{{ block.settings.label | escape }}]"
                    value="{{ block.settings.unchecked_value | escape }}"
                  >
                  <input
                    id="line-item-{{ section.id }}-{{ block.id }}"
                    type="checkbox"
                    name="contact[{{ block.settings.label | escape }}]"
                    value="{{ block.settings.checked_value | escape }}"
                    {% if block.settings.required %}
                      required
                    {% endif %}
                  >
                  {% render 'icon', icon: 'checkmark' %}
                  {{ block.settings.label | escape }}
                </label>
              {%- else -%}
                <label
                  class="form__label{% if block.settings.type == 'text' or block.settings.type == 'textarea' or block.settings.type == 'select' %} visually-hidden{% endif %}"
                  for="line-item-{{ section.id }}-{{ block.id }}"
                >
                  {{- block.settings.label | escape -}}
                </label>
                {%- case block.settings.type -%}
                  {%- when 'text' -%}
                    <input
                      class="field__input"
                      id="line-item-{{ section.id }}-{{ block.id }}"
                      type="text"
                      name="contact[{{ block.settings.label | escape }}]"
                      {% if block.settings.required %}
                        required
                      {% endif %}
                      placeholder="{{ block.settings.label | escape }}"
                    >
                  {%- when 'textarea' -%}
                    <textarea
                      class="text-area field__input"
                      id="line-item-{{ section.id }}-{{ block.id }}"
                      name="contact[{{ block.settings.label | escape }}]"
                      {% if block.settings.required %}
                        required
                      {% endif %}
                      placeholder="{{ block.settings.label | escape }}"
                    ></textarea>
                  {%- when 'radio' -%}
                    {%- assign options = block.settings.radio_options | split: ',' -%}
                    {%- if options.size > 1 -%}
                      <fieldset class="contact-form__input">
                        {%- for option in options -%}
                          <label
                            class="form__facet-radio"
                            for="line-item-{{ section.id }}-{{ block.id }}-{{ forloop.index0 }}"
                          >
                            <input
                              id="line-item-{{ section.id }}-{{ block.id }}-{{ forloop.index0 }}"
                              type="radio"
                              name="contact[{{ block.settings.label | escape }}]"
                              value="{{ option | strip | escape }}"
                              {% if block.settings.required %}
                                required
                              {% endif %}
                            >
                            <span class="icon"></span>
                            {{ option | strip | escape }}
                          </label>
                        {%- endfor -%}
                      </fieldset>
                    {%- endif -%}
                  {%- when 'select' -%}
                    {%- assign options = block.settings.select_options | split: ',' -%}
                    {%- if options.size > 1 -%}
                      <select-wrapper class="select">
                        <select
                          class="select__select"
                          id="line-item-{{ section.id }}-{{ block.id }}"
                          name="contact[{{ block.settings.label | escape }}]"
                          {% if block.settings.required %}
                            required
                          {% endif %}
                        >
                          <option value="" disabled selected hidden>{{ block.settings.label | escape }}</option>
                          <optgroup label="{{ block.settings.label | escape }}">
                            {%- for option in options -%}
                              <option value="{{ option | strip | escape }}">
                                {{ option | strip | escape }}
                              </option>
                            {%- endfor -%}
                          </optgroup>
                        </select>
                        {% render 'icon', icon: 'caret' %}
                      </select-wrapper>
                    {%- endif -%}
                {%- endcase -%}
              {%- endif -%}
            </div>
          {%- endfor -%}
        {%- endif -%}

        <div class="field">
          <textarea
            id="{{ form_id }}-body"
            rows="10"
            class="text-area field__input"
            name="contact[{{ 'templates.contact.form.comment' | t }}]"
            placeholder="Comment"
          >
              {{- form.body -}}
            </textarea>
          <label class="visually-hidden" for="{{ form_id }}-body">{{ 'templates.contact.form.comment' | t }}</label>
        </div>
        <div class="contact__button">
          <button type="submit" class="button">Send Message</button>
        </div>

        {% comment %}
          Remove the following three lines of code to remove the note
          about being protected by Google's reCAPTCHA service.
          By removing it, the small reCAPTCHA widget will appear in the
          bottom right corner of the page.
        {% endcomment %}
        <div class="rte">
          {% comment %}{{ 'shopify.online_store.spam_detection.disclaimer_html' | t }}{% endcomment %}
          Got questions about a product, status of an order or a general question? Now easier than ever, text support is
          available at your convenience 8am-6pm PST. Please send a text message to +1.949.532.9774
        </div>
      {%- endform -%}
    </form-state>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.contact-form.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Contact form",
      "label": "Heading"
    },
    {
      "type": "checkbox",
      "id": "show_phone",
      "default": true,
      "label": "Show Number"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "t:sections.contact-form.presets.name"
    }
  ]
}
{% endschema %}
