{% liquid
  assign id = section.id
%}

<style>
  #shopify-section-{{id}} {
    box-sizing: border-box;
    margin-top: {{section.settings.margin_top | append: 'px'}};
    margin-bottom: {{section.settings.margin_bottom | append: 'px'}};
    padding-top: {{section.settings.padding_top | append: 'px'}};
    padding-bottom: {{section.settings.padding_bottom | append: 'px'}};
    background: rgba(234, 9, 75, 0.05);
  }

  @media(max-width: 768px) {
    #shopify-section-{{id}} {
      margin-top: {{section.settings.margin_top_m | append: 'px'}};
      margin-bottom: {{section.settings.margin_bottom_m | append: 'px'}};
      padding-top: {{section.settings.padding_top_m | append: 'px'}};
      padding-bottom: {{section.settings.padding_bottom_m | append: 'px'}};
    }
  }
  .footer-top-{{ id }}{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer-menu-{{ id }}{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
  }
  .footer-menu-item-{{ id }} h4{
    color: #000;
    font-size: 20px;
    line-height: normal;
    margin: 0 0 16px;
  }
  .footer-menu-item-{{ id }} a{
    display: block;
    width: max-content;
    color: #000;
    font-size: 14px;
    line-height: 32px; /* 228.571% */
    text-decoration: none;
  }

  .footer-contents-{{ id }} img{
    max-width: 52px;
  }
  .footer-contents-{{ id }} > p{
    color: #000;
    font-size: 12px;
    line-height: normal;
    margin: 0;
  }
  .footer-contents-{{ id }} > p a{
    color: #000;
  }
  .footer-newsletter-{{ id }} h4{
    color: #000;
    font-size: 16px;
    line-height: normal;
    margin: 0 0 5px;
  }
  .footer-newsletter-{{ id }} .field-cf{
    position: relative;
  }
  .footer-newsletter-{{ id }} input{
    color: #000;
    font-size: 12px;
    line-height: normal;
    border: none;
    outline: none;
    box-shadow: none;
    background: rgba(255, 203, 218, 0.50);
    padding: 12px 22px;
    width: 100%;
  }
  .footer-newsletter-{{ id }} input::placeholder{
    color: #000;
    font-size: 12px;
    line-height: normal;
  }
  .footer-newsletter-{{ id }} button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    border: none;
    outline: none;
    box-shadow: none;
    background: #EA094B;
    padding: 10.5px 18px;
  }
 .footer-newsletter-{{ id }} > p{
    color: #000;
    font-size: 14px;
    line-height: normal;
    margin: 18px 0 22px;
  }
  .footer-icons-{{ section.id }}{
    display: flex;
    align-items: center;
    gap: 24px;
    margin: 40px 0 0;
    justify-content: flex-end;
  }
  .footer-icons-{{ section.id }} a{
    display: inline-block;
    font-size: 0;
    line-height: 0;
  }
  .footer-icons-{{ section.id }} a img{
    max-width: 17px;
  }
  .footer-bottom-{{ id }}{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 80px 0 0;
  }
  .footer-links-{{ id }}{
    display: flex;
    align-items: center;
    gap: 24px;
  }
  .footer-links-{{ id }} a{
    color: #000;
    font-size: 12px;
    line-height: normal;
    text-decoration: none;
  }
  .footer-copytexts-{{ id }} p{
    color: #000;
    font-size: 12px;
    line-height: normal;
    margin: 0;
  }

  @media screen and (min-width: 769px){
    .accordion__icons{
      display: none;
    }
    .footer-contents-{{ id }}{
      max-width: 300px;
    }
  }
  @media screen and (min-width: 1024px){
    .footer-contents-{{ id }}{
      text-align: right;
    }
  }
  @media screen and (max-width: 768px){
    .footer-top-{{ id }}{
      flex-direction: column;
      gap: 25px;
    }
    .footer-menu-{{ id }}{
      flex-direction: column;
      gap: 0px;
    }


    
     .faq__intro {
      position: relative;
      padding: 10px 0;
      cursor: pointer;
     }
    .faq__intro h4 {
      font-size: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      transition: all 0.2s;
    }
    .accordion__content-item {
      max-height: 0;
      overflow: hidden;
      will-change: max-height;
      transition: all 0.2s;
      opacity: 0;
    }
    .faq__item.accordion__active .accordion__content-item{
      margin: 0 0 12px;
    }
    .faq__item{
      position: relative;
    }
    .accordion__icons{
      font-size: 0;
      line-height: 0;
      position: relative;
    }
    .accordion__icons svg:nth-of-type(1){
      opacity: 1;
      transform: rotate(0);
      transition: all 0.2s linear;
    }
    .faq__item.accordion__active .accordion__icons svg:nth-of-type(1){
      opacity: 0;
      transform: rotate(180deg);
    }
    .faq__item.accordion__active .accordion__icons svg:nth-of-type(2){
      opacity: 1;
      transform: rotate(180deg);
    }
    .accordion__icons svg:nth-of-type(2){
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transform: rotate(0);
      transition: all 0.2s linear;
    }
    .faq__item.accordion__active .accordion__icons svg:nth-of-type(2){
      opacity: 1;
      transform: rotate(180deg);
    }


 
 
   .footer-newsletter-{{ id }}{
     margin: 16px 0 0;
   }
   .footer-newsletter-{{ id }} > p{
      margin: 16px 0 16px;
    }
    .footer-icons-{{ section.id }}{
      gap: 16px;
      margin: 30px 0 0;
      justify-content: center;
    }
    .footer-bottom-{{ id }}{
      flex-direction: column;
      flex-wrap: wrap;
      gap: 10px;
      margin: 30px 0 0;
    }
    .footer-links-{{ id }}{
      display: flex;
      align-items: center;
      gap: 24px;
    }
    .footer-links-{{ id }} a{
      color: #000;
      font-size: 12px;
      line-height: normal;
      text-decoration: none;
    }
    .footer-copytexts-{{ id }} p{
      color: #000;
      font-size: 12px;
      line-height: normal;
      margin: 0;
    }
  }
</style>


<div class="sec-{{ id }}">
  <div class="{% unless section.settings.full_width %}page-width{% endunless %}">
    <div class="wrapper-{{ id }}">
      <div class="footer-top-{{ id }}">
        <div class="footer-menu-{{ id }}">
          {% for block in section.blocks %}
            {% if block.type == "menu" %}
              <div class="faq__item footer-menu-item-{{ id }}">
                <div class="faq__intro">
                  <h4><span class="faq__intro-text">{{ block.settings.menu.title }}</span><span class="accordion__icons">{% render 'gelico-icons', name: "plus" %}{% render 'gelico-icons', name: "minus" %}</span></h4>
                </div>
                <div class="accordion__content-item">
                  {% for link in block.settings.menu.links %}
                    <a href="{{ link.url }}">{{ link.title }}</a>
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <div class="footer-contents-{{ id }}">
          {% if section.settings.image %}
            {{ section.settings.image | image_url: width: 52 | image_tag }}
          {% else %}
            <h2>{{ shop.name }}</h2>
          {% endif %}
          <div class="footer-newsletter-{{ id }}">
            <h4>EXCLUSIVE BENEFITS</h4>
            {% render 'custom-newsletter' %}
            <p>Subscribe to receive updates, access to exclusive deals and more</p>
          </div>
          <p>I accept the <a href="{{ section.settings.privacy }}">Privacy Policy</a> and the <a href="{{ section.settings.terms }}">Terms of Service</a></p>
          <div class="footer-icons-{{ section.id }}">
            {% for block in section.blocks %}
              {% if block.type == "icons" %}
                <a href="{{ block.settings.link }}">
                  {{ block.settings.image | image_url: width: 17 | image_tag }}
                </a>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="footer-bottom-{{ id }}">
        <div class="footer-links-{{ id }}">
          <a href="{{ section.settings.privacy }}">Privacy Policy</a>
          <a href="{{ section.settings.terms }}">Terms of Service</a>
        </div>
        <div class="footer-copytexts-{{ id }}">
          <p>© 2024 All rights reserved. HADO LABO TOKYO.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  
  function initializeAccordions() {
    if (screen.width < 769) {
      const accordions = document.querySelectorAll(".faq__item");
      const openAccordion = (accordion) => {
        const content = accordion.querySelector(".accordion__content-item");
        accordion.classList.add("accordion__active");
        content.style.maxHeight = content.scrollHeight + "px";
        content.style.opacity = 1;
      };
  
      const closeAccordion = (accordion) => {
        const content = accordion.querySelector(".accordion__content-item");
        accordion.classList.remove("accordion__active");
        content.style.maxHeight = null;
        content.style.opacity = 0;
      };
  
      accordions.forEach((accordion, index) => {
        const intro = accordion.querySelector(".faq__intro");
        const content = accordion.querySelector(".accordion__content-item");
  
        if (intro && content) {
          intro.onclick = () => {
            if (content.style.maxHeight) {
              closeAccordion(accordion);
            } else {
              accordions.forEach((accordion) => closeAccordion(accordion));
              openAccordion(accordion);
            }
          };
  
          if (index === 0) {
            openAccordion(accordion);
          }
        } else {
          console.error("Accordion header or content not found.");
        }
      });
    }
  }
  
  window.addEventListener('DOMContentLoaded', initializeAccordions);

</script>


{% schema %}
  {
    "name": "Custom Footer",
    "settings": [
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Full Width Section",
        "default": true
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Footer Logo"
      },
      {
        "type": "url",
        "id": "privacy",
        "label": "Privacy link"
      },
      {
        "type": "url",
        "id": "terms",
        "label": "Terms link"
      },
      {
        "type": "header",
        "content": "Section Spacing Desktop"
      },
      {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Margin Top",
        "default": 24
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Margin Bottom",
        "default": 24
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding Top",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding Bottom",
        "default": 0
      },
      {
        "type": "header",
        "content": "Section Spacing Mobile"
      },
      {
        "type": "range",
        "id": "margin_top_m",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Margin Top",
        "default": 24
      },
      {
        "type": "range",
        "id": "margin_bottom_m",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Margin Bottom",
        "default": 24
      },
      {
        "type": "range",
        "id": "padding_top_m",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding Top",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_bottom_m",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding Bottom",
        "default": 0
      }
    ],
    "blocks": [
      {
        "type": "menu",
        "name": "Menu",
        "settings": [
          {
            "type": "link_list",
            "id": "menu",
            "label": "Menu"
          }

        ]
      },
      {
        "type": "icons",
        "name": "Icons",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }

        ]
      }
    ],
    "presets": [
      {
        "name": "Custom Footer"
      }
    ]
  }
{% endschema %}