{% liquid
  assign id = section.id
%}

<style>
  #shopify-section-{{id}} {
    box-sizing: border-box;
    margin-top: {{section.settings.margin_top | append: 'px'}};
    margin-bottom: {{section.settings.margin_bottom | append: 'px'}};
    padding-top: {{section.settings.padding_top | append: 'px'}};
    padding-bottom: {{section.settings.padding_bottom | append: 'px'}};
  }

  @media(max-width: 768px) {
    #shopify-section-{{id}} {
      margin-top: {{section.settings.margin_top_m | append: 'px'}};
      margin-bottom: {{section.settings.margin_bottom_m | append: 'px'}};
      padding-top: {{section.settings.padding_top_m | append: 'px'}};
      padding-bottom: {{section.settings.padding_bottom_m | append: 'px'}};
    }
  }
  .home-banner--{{ id }} .swiper-slide{
    font-size: 0;
    line-height: 0;
  }
  .home-banner--{{ id }} .swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    filter: brightness({{ section.settings.brightness }});
  }

  .home__banner-text h4{
    color: {{ section.settings.color }};
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    margin: 0;
  }
  .home__banner-text h2{
    color: {{ section.settings.color }};
    font-size: 32px;
    line-height: normal;
    margin: 0;
  }
  .home__banner-text a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    line-height: normal;
    text-decoration: none;
    background: #EA094B;
    padding: 10px 28px;
    margin-block-start: 9px;
    max-width: max-content;
    gap: 7px;
  }
  .home-banner--{{ id }} .swiper-pagination .swiper-pagination-bullet{
    width: 25px;
    height: 2px;
    transition: all 0.3s linear;
  }

  @media screen and (min-width: 769px){
    .home__banner-text{
      position: absolute;
      top: 50%;
      left: 25%;
      transform: translate(-50%,-50%);
    }
  }

  @media screen and (max-width: 768px){
    .home__banner-text {
      text-align: center;
      margin-block-start: 40px;
    }
    .home__banner-text a {
      display: inline-flex;
      padding: 10px 16px;
      width: 245px;
      max-width: none;
    }
    .home-banner--{{ id }} #pagination--{{ section.id }}{
      position: static;
      margin-block-start: 24px;
    }
    .home__banner-text h4{
      font-size: 17px;
    }
    .home__banner-text h2{
      font-size: 28px;
    }
  }
</style>

<div class="sec-{{ id }}">
  <div class="{% unless section.settings.full_width %}page-width{% endunless %}">
    <div class="home-banner--{{ id }}">
      <div class="swiper">
        <div class="swiper-wrapper">
          {% for block in section.blocks %}
            <div class="swiper-slide">
              {% liquid
                assign lg_image = block.settings.image
                assign sm_image = block.settings.image_m
                if sm_image == blank
                  assign sm_image = lg_image
                endif
              %}
              <picture>
                <source media="(min-width:769px)" srcset="{{ lg_image | image_url: width: lg_image.width }}">
                {{ sm_image | image_url: width: 400 | image_tag }}
              </picture>
              {% if block.settings.subtitle != blank
                or block.settings.title != blank
                or block.settings.text != blank
                or block.settings.btn_text != blank
              %}
                <div class="home__banner-text">
                  {% if block.settings.subtitle != blank %}
                    <h4>{{ block.settings.subtitle }}</h4>
                  {% endif %}
                  {% if block.settings.title != blank %}
                    <h2>{{ block.settings.title }}</h2>
                  {% endif %}
                  {% if block.settings.text != blank %}
                    <h4>{{ block.settings.text }}</h4>
                  {% endif %}
                  {% if block.settings.btn_text != blank %}
                    <a href="{{ block.settings.link | default: "#" }}">
                      {{- block.settings.btn_text -}}
                      {%- render 'gelico-icons', name: 'button-arrow' -%}
                    </a>
                  {% endif %}
                </div>
              {% endif %}
            </div>
          {% endfor %}
        </div>
        <div id="pagination--{{ section.id }}" class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", (event) => {
    new Swiper(".home-banner--{{ id }} .swiper", {
      slidesPerView: 1,
      pagination: {
        el: "#pagination--{{ section.id }}",
        clickable: true,
      }
    })
  });
</script>

{% schema %}
{
  "name": "Custom Home Banner",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full Width Section",
      "default": true
    },
    {
      "type": "color",
      "id": "color",
      "label": "Text Color"
    },
    {
      "type": "range",
      "id": "brightness",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "unit": "%",
      "label": "Image Brightness",
      "default": 0.8
    },
    {
      "type": "header",
      "content": "Section Spacing Desktop"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Top",
      "default": 24
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 24
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section Spacing Mobile"
    },
    {
      "type": "range",
      "id": "margin_top_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Top",
      "default": 24
    },
    {
      "type": "range",
      "id": "margin_bottom_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 24
    },
    {
      "type": "range",
      "id": "padding_top_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "Image",
      "name": "image",
      "settings": [
        {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
        },
        {
           "type": "image_picker",
           "id": "image_m",
           "label": "Image(Mobile)"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Sub Title"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "text",
          "id": "btn_text",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Button Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Home Banner"
    }
  ]
}
{% endschema %}
