<style>
  .faq-sec{
    margin-top: {{ section.settings.margin_top }}px;
    margin-bottom: {{ section.settings.margin_bottom }}px;
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;

    @media(max-width: 768px) {
      margin-top: {{ section.settings.margin_top-m }}px;
      margin-bottom: {{ section.settings.margin_bottom-m }}px;
      padding-top: {{ section.settings.padding_top-m }}px;
      padding-bottom: {{ section.settings.padding_bottom-m }}px;
    }
  }

  .faq-contianer {
    display: grid;
    grid-template-columns: 1fr 1.6fr;
    grid-gap: 50px;
    @media(max-width: 768px) {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 0px;
    }
  }

  .faq-sec-title{
    margin-bottom: 45px;
    h1{
      color: #000;
      font-size: 32px;
      font-style: normal;
      line-height: normal;
      text-transform: capitalize;
      margin: 0;
    }
    .faq-new-text {
      color: #000;
      font-size: 14px;
      font-style: normal;
      line-height: normal;
      text-transform: capitalize;
      margin: 0 0 7px 0;
    }
    .faq-new-subtitle{
      margin: 30px 0;
    }
    @media(max-width: 768px) {
      h1{
        font-size: 21px;
        line-height: normal;
        max-width: 200px;
      }
      .faq-new-subtitle {
        margin: 15px 0;
      }
    }
  }

  .faq-wrapper.faq-accordion {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media(max-width: 768px) {
      gap: 8px;
    }
  }

  .faq-item{
    padding: 0px 35px;
    background: rgba(234, 9, 75, 0.05);
    align-items: center;
    a{
      text-decoration: none;
      color: #F28282;
    }
    .faq-question{
      display: grid;
      grid-template-columns: 1fr 20px;
      align-items: center;
      box-sizing: border-box;
      cursor: pointer;
      width: 100%;
      height: 57px;
      line-height: 57px;
      grid-gap: 20px;

      h2{
        color: #000;
        font-size: 14px;
        font-style: normal;
        line-height: normal;
        margin: 0;
      }
      svg{
        transition: .2s;
      }
      .minus_icon{
        display: none;
      }
    }

    .faq-new-details {
      color: rgb(0, 0, 0);
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
      margin: 0;
      position: relative;
    }

    @media(max-width: 768px) {
      padding: 14px;
      .faq-question {
        height: inherit;
      }
      .faq-new-details {
        font-size: 12px;
        line-height: 17px;
      }
      .faq-question h2{
        font-size: 13px;
        line-height: 19px;
      }
    }
  }


  .faq-item.active{
    .faq-question{
      .plus_icon{
        display: none;
      }
      .minus_icon{
        display: block;
      }
    }
  }
</style>

<div class="faq-sec {% if section.settings.anime %}scroll-anime{% endif %}">
  <div class="faq page-width">
    <div class="faq-contianer">
      <div class="faq-sec-title">
        <p class="faq-new-text">HELP & FAQS</p>
        <h1>{{ section.settings.title }}</h1>
        <p class="faq-new-text faq-new-subtitle">{{ section.settings.subtitle }}</p>
        <a class="faq-new-text" href="/pages/contact-us">Ask A Question</a>
      </div>

      <div class="faq-wrapper faq-accordion">
        {% for block in section.blocks %}
          {% if block.settings.question != blank and block.settings.answer != blank %}
            <div class="faq-item">
              <div class="faq-question">
                <h2>{{ block.settings.question }}</h2>
                {% render 'tab-icons', name: 'plus', class: 'plus_icon' %}
                {% render 'tab-icons', name: 'minus', class: 'minus_icon' %}
              </div>
              <div class="faq-new-details">
                {{ block.settings.answer }}
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", e => {
    new Accordion('.faq-accordion', {
      closeAll: true,
      initOpenIndex: 1,
      duration: 500,
      activeClass: 'active'
    })
  })
</script>

{% schema %}
{
  "name": "FAQ",
  "settings": [
    {
    "type": "checkbox",
    "id": "anime",
    "label": "Enable animation",
    "default": true
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "textarea",
      "id": "subtitle",
      "label": "Sub Title",
      "default": "Expert advice from our nutritional therapists is just a click or call away."
    },
    {
      "type": "header",
      "content": "Spacing (Desktop)"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Margin Top",
      "default": 64
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 64
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "Spacing (Mobile)"
    },
    {
      "type": "range",
      "id": "margin_top-m",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Margin Top (Mobile)",
      "default": 40
    },
    {
      "type": "range",
      "id": "margin_bottom-m",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Margin Bottom (Mobile)",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_top-m",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Top  (Mobile)",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom-m",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom  (Mobile)",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "faq",
      "name": "faq",
      "settings": [
        {
          "type": "text",
          "id": "question",
          "label": "Question"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "Answer"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "FAQ"
    }
  ]
}
{% endschema %}
