{% liquid
  assign id = section.id
  assign settings = section.settings
  assign blocks = section.blocks
%}

<style>
  #shopify-section-{{id}} {
    box-sizing: border-box;
    margin-top: {{section.settings.margin_top | append: 'px'}};
    margin-bottom: {{section.settings.margin_bottom | append: 'px'}};
    padding-top: {{section.settings.padding_top | append: 'px'}};
    padding-bottom: {{section.settings.padding_bottom | append: 'px'}};
    max-width: 100vw;
    overflow: hidden;
  }

  @media(max-width: 768px) {
    #shopify-section-{{id}} {
      margin-top: {{section.settings.margin_top_m | append: 'px'}};
      margin-bottom: {{section.settings.margin_bottom_m | append: 'px'}};
      padding-top: {{section.settings.padding_top_m | append: 'px'}};
      padding-bottom: {{section.settings.padding_bottom_m | append: 'px'}};
    }
  }

  .slide-{{ section.id }} {
    height: auto;
    background: rgba(234, 9, 75, 0.05);
  }
  .img-{{ section.id }} {
    font-size: 0;
    line-height: 0;
  }
  .img-{{ section.id }} img{
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .info-{{ section.id }} {
    box-sizing: border-box;
    padding: 25px 20px;
  }
  .info-{{ section.id }} h2{
    color: #000;
    font-size: 20px;
    line-height: normal;
    margin: 0 0 16px 0;
    max-width: 218px;
  }
  .info-{{ section.id }} p{
    color: #000;
    font-size: 16px;
    line-height: normal;
    margin: 0 0 0 0;
  }
  .heading-{{ id }} {
    color: #000;
    font-size: 32px;
    line-height: normal;
    text-align: center;
    margin: 0 0 26px 0;
  }

  @media(max-width: 768px) {
    .info-{{ section.id }} {
      box-sizing: border-box;
      padding: 15px;
    }
    .info-{{ section.id }} h2{
      font-size: 16px;
      margin: 0 0 24px 0;
    }
    .info-{{ section.id }} p{
      font-size: 12px;
    }
    .heading-{{ id }} {
      font-size: 20px;
      margin: 0 0 16px 0;
    }
  }
</style>

<div class="sec-{{ id }}">
  <div class="{% unless section.settings.full_width %}page-width{% endunless %}">
    <h2 class="heading-{{ id }}">{{ section.settings.heading }}</h2>
    <div class="wrapper-{{ id }}">
      <div class="swiper swiper-{{ id }}">
        <div class="swiper-wrapper">
          {% for block in section.blocks %}
            <div class="swiper-slide slide-{{ section.id }}">
              <div class="img-{{ section.id }}">
                {% unless block.settings.image == blank %}
                  {{ block.settings.image | image_url: width: block.settings.image.width | image_tag: loading: 'lazy' }}
                {% endunless %}
              </div>
              <div class="info-{{ section.id }}">
                <h2>{{ block.settings.title }}</h2>
                <p>{{ block.settings.text }}</p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  
  document.addEventListener("DOMContentLoaded", (event) => {
    new Swiper(".swiper-{{ id }}", {
      slidesPerView: 4,
      spaceBetween: 35,
      breakpoints: {
        220: {
          slidesPerView: 1.5,
          spaceBetween: 25,
        },
        560: {
          slidesPerView: 3,
          spaceBetween: 30,
        },
        1000: {
          slidesPerView: 3,
          spaceBetween: 48,
        }
      }
    })
  
    // let headingH2 = 0
    // document.querySelectorAll(".info-{{ section.id }} h2").forEach((item, index, arr) => {
    //   if(item.scrollHeight > headingH2) headingH2 = item.scrollHeight
    // })
    // document.querySelectorAll(".info-{{ section.id }} h2").forEach((item, index, arr) => {
    //   item.style.height = `${headingH2}px`
    // })
  });

</script>

{% schema %}
{
  "name": "Image Text Grid",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full Width Section",
      "default": true
    },
    {
      "type": "text",
      "id": "heading",
      "label": "heading",
      "default": "Power Up Your Skin"
    },
    {
      "type": "header",
      "content": "Section Spacing Desktop"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Top",
      "default": 24
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 24
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section Spacing Mobile"
    },
    {
      "type": "range",
      "id": "margin_top_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Top",
      "default": 24
    },
    {
      "type": "range",
      "id": "margin_bottom_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 24
    },
    {
      "type": "range",
      "id": "padding_top_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "step",
      "name": "Step",
      "limit": 4,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image Text Grid"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
