<style>
  .pid-sec{
    box-sizing: border-box;
    margin-top: {{section.settings.margin_top | append: 'px'}};
    margin-bottom: {{section.settings.margin_bottom | append: 'px'}};
    padding-top: {{section.settings.padding_top | append: 'px'}};
    padding-bottom: {{section.settings.padding_bottom | append: 'px'}};
    max-width: 100vw;
    overflow: hidden;
  }
  .pid-sec-title{
    margin-bottom: 45px;
    h2{
      color: #000;
      text-align: center;
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: capitalize;
      margin: 0 0 0 0;
    }
  }

  .pid-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;
    grid-auto-rows: 1fr;
  }
  .pid-item{
    background: rgba(234, 9, 75, 0.05);
    display: flex;
    flex-direction: column;
    gap: 21px;
    align-items: center;
    box-sizing: border-box;
    padding: 25px 35px 23px 35px;
    position: relative;
    overflow: hidden;

    svg{
      position: absolute;
      right: -65px;
      top: -49px;
      width: 220px;
      height: 220px;
      z-index: 2;
    }
  }

  .pid-img{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 4;
    height: 150px;
    img{
      width: auto;
      max-width: 80%;
      height: auto;
      max-height: 175px;
    }
  }

  .pid-info{
    .title{
      margin: 0;
      color: #000;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 0px;
      min-height: 50px;
    }
    .richtext{
      margin: 0;
      color: #000;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }


  @media(min-width: 769px) {
    .pid-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1f 1fr;
      gap: 24px;
    }
    .pid-item {
      flex-basis: calc(30%);
    }
  }

  @media(max-width: 768px) {
    .pid-sec {
      margin-top: {{section.settings.margin_top_m | append: 'px'}};
      margin-bottom: {{section.settings.margin_bottom_m | append: 'px'}};
      padding-top: {{section.settings.padding_top_m | append: 'px'}};
      padding-bottom: {{section.settings.padding_bottom_m | append: 'px'}};
    }
    .pid-wrapper {
      grid-template-columns: 1fr 1fr;
      grid-gap: 16px;
    }
    .pid-item {
      grid-template-columns: 96px 1fr;
      grid-gap: 27px;
      padding: 11px 18px;
      svg {
        position: absolute;
        right: -38px;
        top: -30px;
        width: 132px;
        height: 132px;
        z-index: 2;
      }
    }
    .pid-info {
      .title {
        font-size: 16px;
        line-height: normal;
        margin-bottom: 6px;
        min-height: 46px;
      }
      .richtext {
        font-size: 11px;
        line-height: normal;
      }
    }

    .pid-sec-title {
      h2 {
        font-size: 24px;
        line-height: 30px;
        max-width: 240px;
        margin: auto;
      }
    }

    .pid-img{
      height: 130px;
      img{
        width: auto;
        height: 130px;
        max-width: 80%;
        height: auto;
      }
    }
  }
</style>

<div class="pid-sec">
  <div class="page-width">
    <div class="pid-sec-title">
      <h2>{{ section.settings.title | escape }}</h2>
    </div>
    <div class="pid-wrapper">
      {% for detail in shop.metaobjects.product_ingredient_details.values %}
        <div
          class="pid-item {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {% if settings.animations_reveal_on_scroll %}
            data-cascade
            style="--animation-order: {{ forloop.index | plus: 1 }};"
          {% endif %}
        >
          <div class="pid-img">
            {{ detail.image | image_url: width: 200 | image_tag }}
          </div>
          <div class="pid-info">
            <h2 class="title">{{ detail.title }}</h2>
            <div class="richtext">{{ detail.description | metafield_tag }}</div>
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" width="235" height="235" viewBox="0 0 235 235" fill="none">
            <mask id="mask0_27_538" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="235" height="235">
              <circle cx="117.5" cy="117.5" r="117.5" fill="#FFFAF6"/>
            </mask>
            <g mask="url(#mask0_27_538)">
              <rect x="-138" y="44" width="311" height="470" fill="#EA094B" fill-opacity="0.25"/>
            </g>
          </svg>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Ingredient Multicolumn 2",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Title",
      "default": "Powerful ingredients that Work"
    },
    {
      "type": "header",
      "content": "Section Spacing Desktop"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Top",
      "default": 24
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 24
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section Spacing Mobile"
    },
    {
      "type": "range",
      "id": "margin_top_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Top",
      "default": 24
    },
    {
      "type": "range",
      "id": "margin_bottom_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 24
    },
    {
      "type": "range",
      "id": "padding_top_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Ingredient Multicolumn 2"
    }
  ]
}
{% endschema %}
