{% liquid
  assign id = section.id
%}

<style>
  #shopify-section-{{id}} {
    box-sizing: border-box;
    margin-top: {{section.settings.margin_top | append: 'px'}};
    margin-bottom: {{section.settings.margin_bottom | append: 'px'}};
    padding-top: {{section.settings.padding_top | append: 'px'}};
    padding-bottom: {{section.settings.padding_bottom | append: 'px'}};
  }
  .heading-{{ id }}{
    color: #000;
    text-align: center;
    font-size: 32px;
    line-height: normal;
    margin: 0 0 40px;
  }
  @media(max-width: 768px) {
    #shopify-section-{{id}} {
      margin-top: {{section.settings.margin_top_m | append: 'px'}};
      margin-bottom: {{section.settings.margin_bottom_m | append: 'px'}};
      padding-top: {{section.settings.padding_top_m | append: 'px'}};
      padding-bottom: {{section.settings.padding_bottom_m | append: 'px'}};
    }
    .heading-{{ id }}{
      font-size: 24px;
      margin: 0 0 32px;
    }
  }
</style>

{{ 'new-product-card.css' | asset_url | stylesheet_tag }}

<recommendation-product
  data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit={{ section.settings.products_to_show }}"
  data-product-id="{{ product.id }}"
  data-section-id="{{ section.id }}"
  data-wrapper-el="recommendation-container"
>
  <div class="sec-{{ id }} recommendation-container">
    {% if recommendations.products_count > 0 %}
      <div class="{% unless section.settings.full_width %}page-width{% endunless %}">
        {% if section.settings.heading != blank %}
          <h2 class="heading-{{ id }}">{{ section.settings.heading }}</h2>
        {% endif %}
        <div class="recommendations-wrapper">
          <div class=" new-product-grid">
            {% for product in recommendations.products %}
              {% liquid
                assign showReview = true
                assign isLazyLoad = true
                assign showBadge = true
                render 'new-product-card', product: product, isLazyLoad: isLazyLoad, showReview: showReview, showBadge: showBadge
              %}
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}
  </div>
</recommendation-product>

<script>
  // ProductRecommendations
class RecommendationProduct extends HTMLElement{
  constructor() {
    super()
    this.wrapperEL = `.${this.dataset.wrapperEl}`
    this.section = document.querySelector(`#shopify-section-${this.dataset.sectionId}`)
  }

  connectedCallback() {
   fetch(this.dataset.url)
      .then((response) => response.text())
      .then((data) => {
        let html = new DOMParser().parseFromString(data,'text/html')
        if(this.section) {
          document.querySelector(this.wrapperEL).innerHTML = html.querySelector(this.wrapperEL).innerHTML
        }
      })
      .catch((error) => console.error("Error fetching recommendations:", error))
      .finally(() => {
        initQuickAddProduct();
      })
  }

}

customElements.define('recommendation-product', RecommendationProduct)
</script>

{% schema %}
{
  "name": "Recommendation Product",
  "templates": ["product"],
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full Width Section",
      "default": true
    },
    {
      "type": "text",
      "id": "heading",
      "label": "heading",
      "default": "You May Also Like"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 10,
      "step": 1,
      "default": 4,
      "label": "Products To Show"
    },
    {
      "type": "header",
      "content": "Section Spacing Desktop"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Top",
      "default": 24
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 24
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section Spacing Mobile"
    },
    {
      "type": "range",
      "id": "margin_top_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Top",
      "default": 24
    },
    {
      "type": "range",
      "id": "margin_bottom_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 24
    },
    {
      "type": "range",
      "id": "padding_top_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "Collection",
      "name": "collection",
      "limit": 2,
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "text",
          "id": "title",
          "label": "text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Recommendation Product"
    }
  ]
}
{% endschema %}
